.center {
  text-align: center;
}

.center h1 {
  color: blue;
}

.center h2 {
  color: red;
}

.center .button {
  height: 50px;
  width: 80px;
}

 img {
  display: none;
  margin-left: auto;
  margin-right: auto;
}

.newButton .centerOfScreen {
  display: block;
  margin:0 auto;

  background-color: yellow;
}
